<% include partials/header.ejs %>

<!-- Page container -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">Welcome to Earth
        <small>The third planet</small>
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img src="/img/earth.jpg" alt="The Planet Earth" /> <br>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Earth</h3>
                <p>
                The third planet from the sun, Earth is a waterworld, with two-thirds of the planet covered by ocean. It’s the only world known to harbor life. Earth’s atmosphere is rich in life-sustaining nitrogen and oxygen. Earth's surface rotates about its axis at 1,532 feet per second (467 meters per second) — slightly more than 1,000 mph (1,600 kph) — at the equator. The planet zips around the sun at more than 18 miles per second (29 km per second).                
                </p>
            <h3 class="my-3">Earth Details</h3>
        
        <ul>
            <li>Diameter: 7,926 miles (12,760 km)</li>
            <li>Orbit: 365.24 days</li>
            <li>Day: 23 hours, 56 minutes</li>
        </ul>
    
    </div>  <!-- /.row -->

</div> <!-- /.container -->

<% include partials/footer.ejs %>