<% include partials/header.ejs %>        

<a id="searchLink" href="/"> Back to Search </a>
<h1>
    Favorites Pics
</h1>

    <% rows.forEach(function(row) { %>

        <a class='keywordLink'> <%= row['keyword'] %> </a>

    <% }) %>

    <hr>        
    <div id ="favorites">
    </div>

<% include partials/footer.ejs %>