<% include partials/header.ejs %>        

<a href="/"> Back to Search </a>
<h1>
    Favorites Pics
</h1>

    Favorite keywords:

    <% rows.forEach(function(row) { %>

        <a class="keywordLink"> <%= row['keyword'] %> </a>

    <% }) %>

    <hr>    
    <div id ="favorites">
    </div>

<% include partials/footer.ejs %>