<% include partials/header.ejs %>                

        <main>
                <h1> Cool Images </h1>        
                <br>
                <form action="/search">
                        <input text="text" size="15" placeholder="Type Keyword" name="keyword"/>
                        <br>                        
                        <button>Search</button>
                        <br>
                </from>
                <br>
        </main>

<% include partials/footer.ejs %>