<% include partials/header.ejs %>        
        
        <h1> Search </h1>        
        <form action="/search">
                <input text="text" placeholder="Type Keyword" name="keyword"/><br>
                <button>Search</button>
        </from>

<% include partials/footer.ejs %>