<% include partials/header.ejs %>

<!-- Page container -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">Welcome to Jupiter
        <small>The fifth planet</small>
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
                <img src="/img/jupiter.jpg" alt="The Planet Jupiter" /> <br>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Jupiter</h3>
                <p>
                The fifth planet from the sun, Jupiter is huge and is the most massive planet in our solar system. It’s a mostly gaseous world, mostly hydrogen and helium. Its swirling clouds are colorful due to different types of trace gases. A big feature is the Great Red Spot, a giant storm which has raged for hundreds of years. Jupiter has a strong magnetic field, and with dozens of moons, it looks a bit like a miniature solar system.
                </p>
            <h3 class="my-3">Jupiter Details</h3>
        
        <ul>
            <li>Discovery: Known to the ancients and visible to the naked eye</li>
            <li>Named for: Ruler of the Roman gods</li>
            <li>Diameter: 86,881 miles (139,822 km)</li>
            <li>Orbit: 11.9 Earth years</li>
            <li>Day: 9.8 Earth hours</li>
        </ul>
    
    </div>  <!-- /.row -->

</div> <!-- /.container -->

<% include partials/footer.ejs %>