<% include partials/header.ejs %>

<!-- Page container -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">Welcome to Mars
        <small>The fourth planet</small>
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
                <img src="/img/mars.jpg" alt="The Planet Mars" /> <br>                
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Mars</h3>
                <p>
                The fourth planet from the sun, is a cold, dusty place. The dust, an iron oxide, gives the planet its reddish cast. Mars shares similarities with Earth: It is rocky, has mountains and valleys, and storm systems ranging from localized tornado-like dust devils to planet-engulfing dust storms. It snows on Mars. And Mars harbors water ice. Scientists think it was once wet and warm, though today it’s cold and desert-like.

                Mars' atmosphere is too thin for liquid water to exist on the surface for any length of time. Scientists think ancient Mars would have had the conditions to support life, and there is hope that signs of past life — possibly even present biology — may exist on the Red Planet.
                </p>
            <h3 class="my-3">Mars Details</h3>
        
        <ul>
            <li>Discovery: Known to the ancients and visible to the naked eye</li>
            <li>Named for: Roman god of war</li>
            <li>Diameter: 4,217 miles (6,787 km)</li>
            <li>Orbit: 687 Earth days</li>
            <li>Day: Just more than one Earth day (24 hours, 37 minutes)</li>
        </ul>
    
    </div>  <!-- /.row -->

</div> <!-- /.container -->

<% include partials/footer.ejs %>