<% include partials/header.ejs %>

<!-- Page container -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">Welcome to Mercury
        <small>The first planet</small>
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img src="/img/mercury.jpg" alt="The Planet Mercury" /> <br>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Mercury</h3>
                <p>
                The closest planet to the sun, Mercury is only a bit larger than Earth's moon. Its day side is scorched by the sun and can reach 840 degrees Fahrenheit (450 Celsius), but on the night side, temperatures drop to hundreds of degrees below freezing. Mercury has virtually no atmosphere to absorb meteor impacts, so its surface is pockmarked with craters, just like the moon. Over its four-year mission, NASA's MESSENGER spacecraft has revealed views of the planet that have challenged astronomers' expectations.
                </p>
            <h3 class="my-3">Mercury Details</h3>
        
        <ul>
            <li>Discovery: Known to the ancients and visible to the naked eye</li>
            <li>Named for: Messenger of the Roman gods</li>
            <li>Diameter: 3,031 miles (4,878 km)</li>
            <li>Orbit: 88 Earth days</li>
            <li>Day: 58.6 Earth days</li>
        </ul>
    
    </div>  <!-- /.row -->

</div> <!-- /.container -->

<% include partials/footer.ejs %>