<% include partials/header.ejs %>

<!-- Page container -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">Welcome to Neptune
        <small>The eight planet</small>
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
                <img src="/img/neptune.jpg" alt="The Planet Neptune" /> <br>            
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Neptune</h3>
                <p>
                The eighth planet from the sun, Neptune is known for strong winds — sometimes faster than the speed of sound. Neptune is far out and cold. The planet is more than 30 times as far from the sun as Earth. It has a rocky core. Neptune was the first planet to be predicted to exist by using math, before it was detected. Irregularities in the orbit of Uranus led French astronomer Alexis Bouvard to suggest some other might be exerting a gravitational tug. German astronomer Johann Galle used calculations to help find Neptune in a telescope. Neptune is about 17 times as massive as Earth.
                </p>
            <h3 class="my-3">Neptune Details</h3>
        
        <ul>
            <li>Discovery: 1846</li>
            <li>Named for: Roman god of water</li>
            <li>Diameter: 30,775 miles (49,530 km)</li>
            <li>Orbit: 165 Earth years</li>
            <li>Day: 19 Earth hours</li>
        </ul>
    
    </div>  <!-- /.row -->

</div> <!-- /.container -->

<% include partials/footer.ejs %>