<% include partials/header.ejs %>

<!-- Page container -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">Welcome to Planet 9
        <small>The tenth planet</small>
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
                <img src="/img/planet9.jpg" alt="The Planet Planet 9" /> <br>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Planet 9</h3>
                <p>
                Planet Nine orbits the sun at a distance that is 20 times farther out than the orbit of Neptune. (The orbit of Neptune is 2.7 billion miles from the sun at its closest point.)  The strange world's orbit is about 600 times farther from the sun than the Earth's orbit is from the star.

                Scientists have not actually seen Planet Nine directly. Its existence was inferred by its gravitational effects on other objects in the Kuiper Belt, a region at the fringe of the solar system that is home to icy objects left over from the birth of the sun and planets.
                </p>
            <h3 class="my-3">Planet 9 Details</h3>        
    
    </div>  <!-- /.row -->

</div> <!-- /.container -->

<% include partials/footer.ejs %>