<% include partials/header.ejs %>

<!-- Page container -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">Welcome to Pluto (Dwarf Planet)
        <small>The ninth planet</small>
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img src="/img/pluto.jpg" alt="The Planet Pluto" /> <br>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Pluto</h3>
                <p>
                Once the ninth planet from the sun, Pluto is unlike other planets in many respects. It is smaller than Earth's moon. Its orbit carries it inside the orbit of Neptune and then way out beyond that orbit. From 1979 until early 1999, Pluto had actually been the eighth planet from the sun. Then, on Feb. 11, 1999, it crossed Neptune's path and once again became the solar system's most distant planet — until it was demoted to dwarf planet status. Pluto will stay beyond Neptune for 228 years. Pluto’s orbit is tilted to the main plane of the solar system — where the other planets orbit — by 17.1 degrees. It’s a cold, rocky world with only a very ephemeral atmosphere. NASA's New Horizons mission performed history's first flyby of the Pluto system on July 14, 2015. 
                </p>
            <h3 class="my-3">Pluto Details</h3>
        
        <ul>
            <li>Discovery: 1930 by Clyde Tombaugh</li>
            <li>Named for: Roman god of the underworld, Hades</li>
            <li>Diameter: 1,430 miles (2,301 km)</li>
            <li>Orbit: 248 Earth years</li>
            <li>Day: 6.4 Earth day</li>
        </ul>
    
    </div>  <!-- /.row -->

</div> <!-- /.container -->

<% include partials/footer.ejs %>