<% include partials/header.ejs %>

    <form action="/search">
        <input text="text" id="keyword" value='<%=keyword%>' placeholder="Type Keyword" name="keyword" />
        <br>
        <button>
                Search
        </button>
    </from>

        <% imageURLs.forEach(function(imageURL, i){ %>
        
            <%- (i%3 == 0)?'<br>':'' %>
            <img src='<%=imageURL%>' width='200' height='200'>
            <img class='favoriteIcon' src='img/fav_off.png' width='20'>

        <% }) %>

<% include partials/footer.ejs %>