<% include partials/header.ejs %>

<!-- Page container -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">Welcome to Saturn
        <small>The sixth planet</small>
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
                <img src="/img/saturn.jpg" alt="The Planet Saturn" /> <br>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Saturn</h3>
                <p>
                The sixth planet from the sun is known most for its rings. When Galileo Galilei first studied Saturn in the early 1600s, he thought it was an object with three parts. Not knowing he was seeing a planet with rings, the stumped astronomer entered a small drawing — a symbol with one large circle and two smaller ones — in his notebook, as a noun in a sentence describing his discovery. More than 40 years later, Christiaan Huygens proposed that they were rings. The rings are made of ice and rock. Scientists are not yet sure how they formed. The gaseous planet is mostly hydrogen and helium. It has numerous moons.
                </p>
            <h3 class="my-3">Saturn Details</h3>
        
        <ul>
            <li>Discovery: Known to the ancients and visible to the naked eye</li>
            <li>Named for: Roman god of agriculture</li>
            <li>Diameter: 74,900 miles (120,500 km)</li>
            <li>Orbit: 29.5 Earth years</li>
            <li>Day: About 10.5 Earth hours</li>
        </ul>
    
    </div>  <!-- /.row -->

</div> <!-- /.container -->

<% include partials/footer.ejs %>