<% include partials/header.ejs %>

<!-- Page container -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">Welcome to Uranus
        <small>The seventh planet</small>
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
                <img src="/img/uranus.jpg" alt="The Planet Uranus" /> <br>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Uranus</h3>
                <p>
                The seventh planet from the sun, Uranus is an oddball. It’s the only giant planet whose equator is nearly at right angles to its orbit — it basically orbits on its side. Astronomers think the planet collided with some other planet-size object long ago, causing the tilt. The tilt causes extreme seasons that last 20-plus years, and the sun beats down on one pole or the other for 84 Earth-years. Uranus is about the same size as Neptune. Methane in the atmosphere gives Uranus its blue-green tint. It has numerous moons and faint rings.
                </p>
            <h3 class="my-3">Uranus Details</h3>
        
        <ul>
            <li>Discovery: 1781 by William Herschel (was thought previously to be a star)</li>
            <li>Named for: Personification of heaven in ancient myth</li>
            <li>Diameter: 31,763 miles (51,120 km)</li>
            <li>Orbit: 84 Earth years</li>
            <li>Day: 18 Earth hours</li>
        </ul>
    
    </div>  <!-- /.row -->

</div> <!-- /.container -->

<% include partials/footer.ejs %>