<% include partials/header.ejs %>

<!-- Page container -->
<div class="container">

    <!-- Item Heading -->
    <h1 class="my-4">Welcome to Venus
        <small>The second planet</small>
    </h1>

    <!-- Item Row -->
    <div class="row">

        <div class="col-md-8">
                <img src="/img/venus.jpg" alt="The Planet Venus" /> <br>
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Venus</h3>
                <p>
                The second planet from the sun, Venus is terribly hot, even hotter than Mercury. The atmosphere is toxic. The pressure at the surface would crush and kill you. Scientists describe Venus’ situation as a runaway greenhouse effect. Its size and structure are similar to Earth, Venus' thick, toxic atmosphere traps heat in a runaway "greenhouse effect." Oddly, Venus spins slowly in the opposite direction of most planets.

                The Greeks believed Venus was two different objects — one in the morning sky and another in the evening. Because it is often brighter than any other object in the sky — except for the sun and moon — Venus has generated many UFO reports.
                </p>
            <h3 class="my-3">Venus Details</h3>
        
        <ul>
            <li>Discovery: Known to the ancients and visible to the naked eye</li>
            <li>Named for: Roman goddess of love and beauty</li>
            <li>Diameter: 7,521 miles (12,104 km)</li>
            <li>Orbit: 225 Earth days</li>
            <li>Day: 241 Earth days</li>
        </ul>
    
    </div>  <!-- /.row -->

</div> <!-- /.container -->

<% include partials/footer.ejs %>