body {
    
    background-size: cover;
    background-repeat: no-repreat;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;

}

input, button {
    
    font-size: 1.3em    

}

main {

    background-color: rgba(0, 0, 0, .75);
    width: 50%;
    margin: 0 auto; /*centers content*/

}

h1{

    color: slategray;

}