/*
html, body 
{
  background: #465d68;
  background: -webkit-linear-gradient(#CBE2F6, rgb(32, 146, 245));
  background:    -moz-linear-gradient(#CBE2F6, rgb(32, 146, 245));
  background:         linear-gradient(#CBE2F6, rgb(32, 146, 245));
}
*/
body
{
  background-image: url('<%= imageURL %>')
}

div
{
  text-align: left;
}

